<div class="background"></div>
<form class="loginForm" action="/login" method="post">
    <div class="login_form">Email<input class="input_box" type="text" name="email"></div>
    <div class="login_form">Password<input class="input_box" type="password" name="password"></div>
    <div class="login_form"><button class="btn" type="submit">Login</button></div>
</form>
