<div class="background"></div>
<form class="loginForm" action="/login" method="post">
    <div class="login_form">Email<input type="text" name="email"></div>
    <div class="login_form">Password<input type="password" name="password"></div>
    <div class="login_form"><button type="submit">Login</button></div>
</form>
