<div class="search_box"><input type="text" id='search'></div>
<div id="map"></div>
<div class="reviews">

</div>
<script src="/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsTimrAVNKbEHPX-C0ztowEdzFnyxVxFw&libraries=places&callback=window.initMap"
        async defer></script>
