<div class="background"></div>
<form class="register" action="/register" method="post">
    <div class="login_form">First name:<input class="input_box" type="text" name="f_name"></div>
    <div class="login_form">Last name:<input class="input_box" type="text" name="l_name"></div>
    <div class="login_form">Email: <input class="input_box" type="text" name="email"></div>
    <div class="login_form">Password:<input class="input_box" type="password" name="password"></div>
    <div class="login_form"><button class="btn" type="submit">Register</button></div>
</form>
