<div class="background"></div>
<form class="register" action="/register" method="post">
   <div class="messages">{{message}}</div>
    <div class="login_form">First name:<input class="input_box" type="text" name="f_name" reuired></div>
    <div class="login_form">Last name:<input class="input_box" type="text" name="l_name" required></div>
    <div class="login_form">Email: <input class="input_box" type="text" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></div>
    <div class="login_form">Password:<input class="input_box" type="password" name="password"  pattern=".{5,}"   required title="5 characters minimum"></div>
    <div class="login_form"><button class="btn" type="submit">Register</button></div>
</form>
