<div class="background"></div>
<form class="register" action="/register" method="post">
    <div class="login_form">First name:<input type="text" name="f_name"></div>
    <div class="login_form">Last name:<input type="text" name="l_name"></div>
    <div class="login_form">Email: <input type="text" name="email"></div>
    <div class="login_form">Password:<input type="password" name="password"></div>
    <div class="login_form"><button type="submit">Register</button></div>
</form>
