<form class="register" action="/register" method="post">
    First name:<input type="text" name="f_name">
    Last name:<input type="text" name="l_name">
    Email: <input type="text" name="email">
    Password:<input type="password" name="password">
    <button type="submit">Register</button>
</form>
