
.footer2 {
    display: flex;
    min-height: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-around;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    color:white;
}

.left_side {
    display: flex;
    flex: 1;
    justify-content: center;
}

.right_side {
    display: flex;
    flex: 1;
    justify-content: center;
}

.dash {
    color:white;
    margin-right: 1rem;
    margin-left: 1rem;
}
