#map{
    display: flex;
    flex: 1;
    min-height: 40%;
}

.reviews {
    display: flex;
    flex: 1;
    min-height: 55%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.single_review{
    display: flex;
    flex: 1;
    flex-direction: column;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    margin-top: 1rem;
}
.img_size{
    height:10rem;
}

.search_box {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

#search {
    border-radius: 5px;
    width: 20%;
    height: 10%;
    font-size: 1.3rem;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin-top: 1rem;
}


