.main{
    z-index: -1;
    flex-direction: column;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}
#map{

    display: flex;
    flex: 1;
    min-height: 40%;
    animation: fadeIn 1s;
}

.reviews {
    display: flex;
    flex: 1;
    min-height: 50%;
/*    flex-direction: column;*/
    background-color: rgb(31, 149, 77);
    animation: fadeIn 1s;

}
.single_review{
    display: flex;
    flex: 1;
    flex-direction: column;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    animation: fadeIn 1s;
}
.img_size{
    height:10rem;
}

.search_box {
    display: flex;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

#search {
    border-radius: 5px;
    width: 20%;
    height: 10%;
    font-size: 1.3rem;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin-top: 1rem;
}


