#map{
    display: flex;
    flex: 1;
    height: 30rem;
}

.reviews {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.single_review{
    display: flex;
    flex: 1;
    flex-direction: column;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
}
.img_size{
    height:10rem;
}

.search_box {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

#search {
    border-radius: 5px;
    width: 10%;
    margin-top: 1rem;
}


