.navbar{
    display: flex;
    min-height: 5%;
    background-color: rgb(95, 95, 95);
    justify-content: space-around;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
}
.click{
    color:white;
    text-decoration: none;

}
