
.register {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
    height: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 1s;
}
