

<form action="/edit/{{review.location_id}}" method="post" class="edit_review">
    <div><label for="">Place</label><input type="text" value="{{review.place}}" name='place'></div>
    <div><label for="">Image url</label><input type="text" value="{{review.img_url}}" name='img_url'></div>
    <div><label for="">Review</label><input type="text" value="{{review.review}}" name='review'></div>
    <button>Save Changes</button>
</form>
