
.review_form {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
}
.review_form input{
    width: 100%;
}
.add_review_background{
    z-index: -1;
    top:0;
    left:0;
    background: url('/images/index.jpg') 50% 50% fixed;
    background-size: cover;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

#dropzone {
  position: relative;
  border: 10px dotted #FFF;
  border-radius: 20px;
  color: white;
  font: bold 24px/200px arial;
  height: 30%;
  margin: 30px auto;
  text-align: center;
  width: 30%;
}

#dropzone:hover {
  border: 10px solid #FE5;
  color: #FE5;
}

#dropzone.dropped {
  background: #222;
  border: 10px solid #444;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
