.main{
    z-index: -1;
    flex-direction: column;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}
#map{
    position: relative;
    display: flex;
    flex: 1;
    min-height: 40%;
    animation: fadeIn 1s;
}
.over{
    position: absolute;
    right:-200px;
    top:5%;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    width: 20%;
    height: 40%;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
}

.reviews {
    display: flex;
    flex: 1;
    min-height: 50%;
    background-color: cadetblue;
    animation: fadeIn 1s;
    flex-wrap: wrap;
    justify-content: center;
}
.single_review{
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    width: 20%;
    max-width: 20%;
    border:2px solid black;
    border-radius: 5px;
    animation: fadeIn 1s;
    text-align: center;
    margin: 1rem;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.img_size{
    height:10rem;
}

.search_box {
    display: flex;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

#search {
    border-radius: 5px;
    width: 20%;
    height: 10%;
    font-size: 1.3rem;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin-top: 1rem;
}

.main-chat{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

.who-connected{
    width: 100%;
    display: flex;
    flex: 1;
    overflow: auto;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    flex-direction: column;
/*    flex-wrap: wrap;*/
    background-color: aqua;
}
.new-message-recived{
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
}
