.each_review{
    font-size: 1.3rem;
    animation: fadeIn 1s;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;

}
.all{
    display: flex;
    min-height: 90%;
    background-color: cadetblue;
    justify-content: center;
    flex-wrap: wrap;
}
