<div class="footer2">
   &copy;Yuri Khomyakov
    <div class="left_side">
       {{#unless user}}
        <div><a class="click hvr-underline-from-left" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home
</a></div>|
        <div><a class="click hvr-underline-from-left" href="/register">Register</a></div>
        {{/unless}}
        {{#if user}}
        <div> <a class="click hvr-underline-from-left" href="/main"><i class="fa fa-home" aria-hidden="true"></i>Main
</a></div>|
        <div><a class="click hvr-underline-from-left" href="/add-review">Add Review</a></div>|
        <div><a class="click hvr-underline-from-left" href="/my-reviews">My Reviews</a></div>|
        <div><a class="click hvr-underline-from-left" href="/logout"><i class="fa fa-times" aria-hidden="true"></i>Logout
</a></div>
        {{/if}}
    </div>
    <div class="right_side">
        <i class="click fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        <i class="click fa fa-instagram fa-2x" aria-hidden="true"></i>
        <i class="click fa fa-twitter-square fa-2x" aria-hidden="true"></i>

    </div>
</div>
